* {
  box-sizing: border-box;
}

.mybody {
	width:100%;	
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 10px;
  text-align: right;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  text-align:center;
  display: flex;
  flex-wrap: wrap;
}

.navleft{
	flex: 60%;
	text-align: left;
	margin: auto;
}

.navright{
	flex: 40%;
	margin-top: 10px;
	float: right;
	text-align: right;
}

/* Style the topnav links */
.topnav a {
	 float:left;
	 color: #f2f2f2;
	 padding: 14px 16px;
	 text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}



/* Create two unequal columns that floats next to each other */
#mycart {
	float:left;	
	clear: both;
}


/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}



/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color:rgb(231, 240, 219);
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.mybody:asfter {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.footercard {
	float:left; 
	width:50%; 
	background-color: gray;
	text-align: center;
}

.nhieunguoixem {
	margin-top:5px;
}

#luoihinhanh{
	border: 0px solid; 
	margin: auto;
	display: flex;
  	flex-wrap: wrap;
  	width: 80%;  	
}
.luoihinhanhPhanTu{
	flex: 25%;
  	padding: 20px;
  	float: left;
}
.oneImage{
	margin: auto;
	border: 0px solid;
	text-align: center;
	width: 60%;
	
	display: flex;
    flex-wrap: wrap;
}
.oneImageDiv{
	 border: 0px solid;
	 flex: 30%;
}

#cartlistASM3 {
	border: 1px solid; 
	padding: 10px; 
	text-align: center; 
	margin: auto;
}

#cartlistASM3 th {
	border: 1px solid; padding: 10px;
}

#cartlistASM3 td {
	border: 1px solid; padding: 10px;
}

#inputCustomer{
	border: 0px solid; 
	padding: 10px; 
	text-align: center; 
	margin: auto;
}

#inputCustomer th{
	border: 0px
}

#inputCustomer td{
	border: 0px
}

#history {
	border: 1px solid; 
	padding: 10px; 
	text-align: center; 
	margin: auto;
}

#history th {
	border: 1px solid; 
	padding: 10px;
}

#history td {
	border: 1px solid; 
	padding: 10px;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
	 .leftcolumn, .rightcolumn {
	   width: 100%;
	   padding: 0;
	 }

	 .footercard {
	width:100%;
	 }
	 
	 .oneImage{
	width: 100%;
	 }
	 #luoihinhanh{
	 	width: 100%;
	 }
	 .luoihinhanhPhanTu{
	flex: 30%;
	 	padding: 10px;
	 }
	 .topnav {
	 	margin: auto;
	 	text-align: center;
	 	flex-direction: column;
	 	width: 100%; 
	 	
	 }
	 .navleft{
	 	margin: auto;
		text-align: center;
		flex: 100%;
	 }
	 .navright{
		margin-top: 10px;
		text-align: center;
		margin: auto;
		flex: 100%;
	 }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
	 .topnav {
	 	width: 100%; 
	 }
	 
	 .topnav a {
		text-align: center;
		margin: auto;
	 }
	 .navleft{
		text-align: center;
		margin: auto;
		flex: 100%;
	 }
	 .navright{
		margin-top: 10px;
		text-align: center;
		margin: auto;
		flex: 100%;
	 }
	 #luoihinhanh{
	 	flex-direction:column;
	 }
	 .oneImage{
	 	width: 100%;
	 	flex-direction:column;
	 }
  
}